.beside{
  display: flex;
  justify-content: start;
}
.tw, button, input{
  font-family: "Incosolata", monospace;
  font-size: 16px;
  font-weight: 500;
  align-content: center;
}
.tw::after{
  content: " ";
  white-space: pre;

}
div{
  align-content: center;
  margin: 15%;
  overflow:auto;
}
#buf {
  height: 30%;
}
